body{
  background-color: #e7e7e7;
}

h1{
  font-family: "Asset";
  text-align: center;
}

.containerTwo {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  /* border: 1px solid black; */
  box-sizing: border-box; }

   /* .norm{
     border-right:  1px solid black;
  }

  .temp{
    border-left:  1px solid black;
  } */



.dropdown-menu{
  background-color: #fff;
  box-shadow:  1px 2px 3px rgba(0,0,0,0.2);
  border-bottom: 2px solid #603d7b;
  padding-top: 5px;
  padding-left: 5px;
}

.dropdown-menu ul{
  list-style-type: none;
  padding: 0;
}

h4 {
  margin-top: 10px;
}

.menu li{

}


.inputReg {
  text-transform: uppercase;
}

.addChild li{
  text-transform: uppercase;
  border: 2px solid #603d7b;
  background-color: yellow;
  list-style-type: none;
  width:100px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.addbtn{
  background-color: #5dd339;
  color: #fff;
}

.resetbtn{
  background-color: #f20202;
  color: #fff;
}

.message{
  color: #603d7b;
  text-transform: capitalize;
  font-weight: bold;
}

/* css for handlebars */

.regInput {
  text-transform: uppercase;
}

.templateContent li{
  text-transform: uppercase;
  border: 2px solid #603d7b;
  background-color: yellow;
  list-style-type: none;
  width:100px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.btnAdd{
  background-color: #5dd339;
  color: #fff;
}

.btnReset{
  background-color: #f20202;
  color: #fff;
}

.alert{
  color: #603d7b;
  text-transform: capitalize;
  font-weight: bold;
}
